node-red-flows/alexa.flow
[{"id":"72fddcff.641274","type":"http in","z":"4446d00c.a9a63","name":"IFTT","url":"/iftt","method":"post","swaggerDoc":"","x":105,"y":300,"wires":[["317a389c.c75468","a49265ed.329bb8","89a540fb.c10748"]]},{"id":"317a389c.c75468","type":"http response","z":"4446d00c.a9a63","name":"","x":258,"y":256,"wires":[]},{"id":"a49265ed.329bb8","type":"debug","z":"4446d00c.a9a63","name":"","active":false,"console":"false","complete":"true","x":257,"y":300,"wires":[]},{"id":"89a540fb.c10748","type":"json","z":"4446d00c.a9a63","name":"","x":255.5,"y":343.75,"wires":[["95ad3530.ad152","4395be61.7e773"]]},{"id":"95ad3530.ad152","type":"function","z":"4446d00c.a9a63","name":"Comand","func":"\nmsg.cmd=msg.payload.cmd;\nreturn msg;","outputs":1,"noerr":0,"x":108,"y":405,"wires":[["242dbf4e.190b7"]]},{"id":"3c58edf1.f34c52","type":"inject","z":"4446d00c.a9a63","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":258,"y":515,"wires":[["83edbea7.e8694"]]},{"id":"242dbf4e.190b7","type":"switch","z":"4446d00c.a9a63","name":"Comand","property":"cmd","propertyType":"msg","rules":[{"t":"cont","v":"setcolor","vt":"str"},{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"rainbow","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":261,"y":407,"wires":[["ad81062c.37dce8"],["2a96aef8.e3bbfa"],["83edbea7.e8694"],["a29b09f1.612478"]]},{"id":"ad81062c.37dce8","type":"switch","z":"4446d00c.a9a63","name":"Color?","property":"payload.color","propertyType":"msg","rules":[{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":441,"y":383,"wires":[["b95c9506.0a0d98"],["9541e8bd.7e0918"],["4f6db828.e1ca28"],[]]},{"id":"bfdb98e1.e45d28","type":"ibmiot out","z":"4446d00c.a9a63","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":832,"y":384,"wires":[]},{"id":"b95c9506.0a0d98","type":"function","z":"4446d00c.a9a63","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":613.72216796875,"y":352,"wires":[["bfdb98e1.e45d28"]]},{"id":"9541e8bd.7e0918","type":"function","z":"4446d00c.a9a63","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":624.4443359375,"y":388.361083984375,"wires":[["bfdb98e1.e45d28"]]},{"id":"4f6db828.e1ca28","type":"function","z":"4446d00c.a9a63","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":617.72216796875,"y":423,"wires":[["bfdb98e1.e45d28"]]},{"id":"2a96aef8.e3bbfa","type":"function","z":"4446d00c.a9a63","name":"SetColorOff","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0,\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":617,"y":457,"wires":[["bfdb98e1.e45d28"]]},{"id":"83edbea7.e8694","type":"function","z":"4446d00c.a9a63","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":624,"y":519,"wires":[["bfdb98e1.e45d28"]]},{"id":"a29b09f1.612478","type":"debug","z":"4446d00c.a9a63","name":"","active":true,"console":"false","complete":"payload","x":256,"y":467,"wires":[]},{"id":"4395be61.7e773","type":"debug","z":"4446d00c.a9a63","name":"Json","active":true,"console":"false","complete":"payload","x":444,"y":329,"wires":[]}]
