node-red-flows/googlegome.flow
[{"id":"a071ae15.1ff49","type":"http in","z":"4446d00c.a9a63","name":"googlehome","url":"/googlehome","method":"post","swaggerDoc":"","x":120,"y":675,"wires":[["3b8aa6d3.fb907a","9ee0be17.078bc","9ea73b10.d192f8"]]},{"id":"3b8aa6d3.fb907a","type":"http response","z":"4446d00c.a9a63","name":"","x":285,"y":634,"wires":[]},{"id":"9ee0be17.078bc","type":"debug","z":"4446d00c.a9a63","name":"","active":true,"console":"false","complete":"payload","x":303,"y":678,"wires":[]},{"id":"e4e5a062.83455","type":"ibmiot out","z":"4446d00c.a9a63","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":511.27783203125,"y":756,"wires":[]},{"id":"d4c82d04.6d954","type":"function","z":"4446d00c.a9a63","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":724,"wires":[["e4e5a062.83455"]]},{"id":"77dd7e2b.507f5","type":"debug","z":"4446d00c.a9a63","name":"other","active":true,"console":"false","complete":"payload","x":277.5,"y":836.25,"wires":[]},{"id":"a54c6bf3.693668","type":"function","z":"4446d00c.a9a63","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":306.72216796875,"y":758.361083984375,"wires":[["e4e5a062.83455"]]},{"id":"9ea73b10.d192f8","type":"switch","z":"4446d00c.a9a63","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":107.5,"y":747,"wires":[["d4c82d04.6d954"],["a54c6bf3.693668"],["cda621e0.14f87"],["77dd7e2b.507f5"]]},{"id":"cda621e0.14f87","type":"function","z":"4446d00c.a9a63","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":798,"wires":[["e4e5a062.83455"]]},{"id":"64f0bf5a.5f1c9","type":"inject","z":"4446d00c.a9a63","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":821,"wires":[["cda621e0.14f87"]]}]
