node-red-flows/ifttt-google-home2.flow
[{"id":"5d5c79de.f9bdc","type":"http in","z":"a97bd409.00c8a","name":"/iftttgh","url":"/iftttgh","method":"post","swaggerDoc":"","x":100,"y":814,"wires":[["f07adddf.0f6ef","a29a03f1.520bc8","3397e2b7.9ecd5e"]]},{"id":"f07adddf.0f6ef","type":"http response","z":"a97bd409.00c8a","name":"","x":288,"y":756,"wires":[]},{"id":"a29a03f1.520bc8","type":"debug","z":"a97bd409.00c8a","name":"","active":true,"console":"true","complete":"true","x":283,"y":815,"wires":[]},{"id":"9f4df404.034968","type":"comment","z":"a97bd409.00c8a","name":"Capture IFTTT HTTP post GOOGLEHOME","info":"","x":205,"y":701,"wires":[]},{"id":"28a7835.40874fc","type":"ibmiot out","z":"a97bd409.00c8a","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candle","deviceType":"macbook","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Candle","service":"registered","x":497.27783203125,"y":862,"wires":[]},{"id":"88f40015.720cd","type":"function","z":"a97bd409.00c8a","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":852,"wires":[["28a7835.40874fc"]]},{"id":"27898539.5c7282","type":"debug","z":"a97bd409.00c8a","name":"other","active":true,"console":"false","complete":"payload","x":463.5,"y":1269.25,"wires":[]},{"id":"a6599db6.c24d9","type":"function","z":"a97bd409.00c8a","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":313.72216796875,"y":890.361083984375,"wires":[["28a7835.40874fc"]]},{"id":"3397e2b7.9ecd5e","type":"switch","z":"a97bd409.00c8a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ed","vt":"str"},{"t":"cont","v":"reen","vt":"str"},{"t":"cont","v":"lue","vt":"str"},{"t":"cont","v":"hite","vt":"str"},{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"lash","vt":"str"},{"t":"cont","v":"ainbow","vt":"str"},{"t":"cont","v":"andle","vt":"str"},{"t":"else"}],"checkall":"true","outputs":10,"x":131.5,"y":932,"wires":[["88f40015.720cd"],["a6599db6.c24d9"],["6a4f9543.088144"],["cad9002a.ea3d28"],["cad9002a.ea3d28"],["c3e3e2f5.f4d66"],["e9a7eb36.a8b018"],["4bd89049.03fe4"],["1fb77c7e.ab5df4"],["27898539.5c7282"]]},{"id":"6a4f9543.088144","type":"function","z":"a97bd409.00c8a","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":931,"wires":[["28a7835.40874fc"]]},{"id":"aacad94c.faa6d8","type":"inject","z":"a97bd409.00c8a","name":"test","topic":"Test","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":1054,"wires":[["c3e3e2f5.f4d66"]]},{"id":"e9a7eb36.a8b018","type":"function","z":"a97bd409.00c8a","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":1125,"wires":[["28a7835.40874fc"]]},{"id":"4bd89049.03fe4","type":"function","z":"a97bd409.00c8a","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff 02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"speed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":1161,"wires":[["28a7835.40874fc"]]},{"id":"1fb77c7e.ab5df4","type":"function","z":"a97bd409.00c8a","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":\"1\",\n\"speed1\":0,\n\"speed2\":255,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setModeCandleLight\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":1199.111083984375,"wires":[["28a7835.40874fc"]]},{"id":"cad9002a.ea3d28","type":"function","z":"a97bd409.00c8a","name":"SetColorOnWhite","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 255,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":974,"wires":[["28a7835.40874fc"]]},{"id":"c3e3e2f5.f4d66","type":"function","z":"a97bd409.00c8a","name":"SetColorOff","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":1010,"wires":[["28a7835.40874fc"]]}]
