node-red-flows/ifttcandle.flow
[{"id":"73594736.fd32b8","type":"inject","z":"7f571cac.6a5ed4","name":"","topic":"","payload":"ping","payloadType":"str","repeat":"",
"crontab":"","once":false,"x":173,"y":347,"wires":[["9cb040ac.528568"]]},
{"id":"9cb040ac.528568","type":"http request","z":"7f571cac.6a5ed4","name":"Make a web request","method":"POST","ret":"txt","url":
"https://maker.ifttt.com/trigger/fromnr/with/key/1111bZo4UPmAHZuzD2hu8V","tls":"","x":363,"y":347,"wires":[["50bc299c.94f4a"]]},
{"id":"50bc299c.94f4a","type":"debug","z":"7f571cac.6a5ed4","name":"","active":true,"console":"false","complete":"true","x":553,"y":347,
"wires":[]},{"id":"404f675c.5fd52","type":"comment","z":"7f571cac.6a5ed4","name":"Replace API_KEY with your key","info":"","x":393,
"y":307,"wires":[]},{"id":"a34d26e8.9bd0b8","type":"http in","z":"7f571cac.6a5ed4","name":"IFTT","url":"/iftt","method":
"post","swaggerDoc":"","x":164,"y":549,"wires":[["cfa3c8fd.d86b28","4a80e1bc.3acab","e4a7210e.82a1b"]]}
,{"id":"cfa3c8fd.d86b28","type":"http response","z":"7f571cac.6a5ed4","name":"","x":317,"y":505,"wires":[]},
{"id":"4a80e1bc.3acab","type":"debug","z":"7f571cac.6a5ed4","name":"","active":true,"console":"false","complete":"true","x":606,
"y":548,"wires":[]},{"id":"771f4e21.09535","type":"comment","z":"7f571cac.6a5ed4","name":"Capture IFTTT HTTP post","info":"",
"x":225,"y":432,"wires":[]},{"id":"e080a922.ede9f8","type":"ibmiot out","z":"7f571cac.6a5ed4","authentication":"boundService"
,"apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data"
:"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":617.27783203125,"y":601,"wires":[]},{"id":"e4a7210e.82a1b","
type":"function","z":"7f571cac.6a5ed4","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff
02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"spe
ed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.
payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":601.611083984375,"wires":[["e080a922.ede9f8"]]},{"id":"b56f2
58e.16ef6","type":"inject","z":"7f571cac.6a5ed4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab"
:"","once":false,"x":183,"y":605.611083984375,"wires":[["e4a7210e.82a1b"]]}]
