node-red-flows/ifttt-googlehome.flow
[{"id":"4d1a7552.5b3f8c","type":"http in","z":"7f571cac.6a5ed4","name":"googlehome","url":"/googlehome","method":"post","swaggerDoc":"","x":183,"y":824,"wires":[["e1bd397e.8eaae8","d9b1c8e7.076c28","4dc74773.9835c8"]]},{"id":"e1bd397e.8eaae8","type":"http response","z":"7f571cac.6a5ed4","name":"","x":348,"y":783,"wires":[]},{"id":"d9b1c8e7.076c28","type":"debug","z":"7f571cac.6a5ed4","name":"","active":true,"console":"false","complete":"payload","x":366,"y":827,"wires":[]},{"id":"42b9e191.5e8ab","type":"comment","z":"7f571cac.6a5ed4","name":"Capture IFTTT HTTP post GOOGLEHOME","info":"","x":265,"y":728,"wires":[]},{"id":"938348b4.6f5c38","type":"ibmiot out","z":"7f571cac.6a5ed4","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":574.27783203125,"y":905,"wires":[]},{"id":"a7f270ba.e74dd","type":"function","z":"7f571cac.6a5ed4","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":873,"wires":[["938348b4.6f5c38"]]},{"id":"26cccb2a.176f84","type":"debug","z":"7f571cac.6a5ed4","name":"other","active":true,"console":"false","complete":"payload","x":340.5,"y":985.25,"wires":[]},{"id":"800349b2.b8ec18","type":"function","z":"7f571cac.6a5ed4","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":369.72216796875,"y":907.361083984375,"wires":[["938348b4.6f5c38"]]},{"id":"4dc74773.9835c8","type":"switch","z":"7f571cac.6a5ed4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":170.5,"y":896,"wires":[["a7f270ba.e74dd"],["800349b2.b8ec18"],["244ebf73.979c8"],["26cccb2a.176f84"]]},{"id":"244ebf73.979c8","type":"function","z":"7f571cac.6a5ed4","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":947,"wires":[["938348b4.6f5c38"]]},{"id":"a0233325.7d5d7","type":"inject","z":"7f571cac.6a5ed4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169,"y":970,"wires":[["244ebf73.979c8"]]}]
