node-red-flows/pbcandle1b.flow
[{"id":"66f9c9e8.43f338","type":"ibmiot in","z":"9ab42443.055ec8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":125,"y":94,"wires":[["fae9229f.6732f"]]},{"id":"fae9229f.6732f","type":"debug","z":"9ab42443.055ec8","name":"","active":true,"console":"false","complete":"false","x":380.5,"y":96.5,"wires":[]},{"id":"3e8bf6da.16deba","type":"ibmiot out","z":"9ab42443.055ec8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":617.27783203125,"y":216.388916015625,"wires":[]},{"id":"3628a629.c2811a","type":"inject","z":"9ab42443.055ec8","name":"SetRed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.27783203125,"y":179.138916015625,"wires":[["a26eb9d1.d6c5e8"]]},{"id":"a26eb9d1.d6c5e8","type":"function","z":"9ab42443.055ec8","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":372.27783203125,"y":178.63888549804688,"wires":[["3e8bf6da.16deba"]]},{"id":"2e7b3775.38c7a8","type":"debug","z":"9ab42443.055ec8","name":"","active":true,"console":"false","complete":"false","x":372.77783203125,"y":380.888916015625,"wires":[]},{"id":"863b42cf.dab87","type":"function","z":"9ab42443.055ec8","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":\"1\",\n\"speed1\":0,\n\"speed2\":255,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setModeCandleLight\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":470.1111145019531,"wires":[["3e8bf6da.16deba"]]},{"id":"74ea307b.557fb","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122.5,"y":564.25,"wires":[["fc484d37.a35bf"]]},{"id":"528c8d1b.dcdf74","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=FADEDGB=03","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":1,\n\"speed1\":48,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":363,"y":517,"wires":[["3e8bf6da.16deba"]]},{"id":"46c2b91e.eb3598","type":"comment","z":"9ab42443.055ec8","name":"GetDataFromPi","info":"","x":110.5,"y":52.75,"wires":[]},{"id":"881e37ae.ce8a08","type":"comment","z":"9ab42443.055ec8","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":108,"y":413,"wires":[]},{"id":"e19a76a1.9c5028","type":"comment","z":"9ab42443.055ec8","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":109,"y":144,"wires":[]},{"id":"fc484d37.a35bf","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=Jump=02","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":2,\n\"speed1\":9,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":563,"wires":[["3e8bf6da.16deba"]]},{"id":"c2f17cb8.c8173","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":470,"wires":[["863b42cf.dab87"]]},{"id":"979fb421.b62788","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":518,"wires":[["528c8d1b.dcdf74"]]},{"id":"73bd3d44.b3e594","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":611,"wires":[["3e8bf6da.16deba"]]},{"id":"10536b9a.30fc14","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":609,"wires":[["73bd3d44.b3e594"]]},{"id":"d0ae6e9.5e29b9","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff 02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"speed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":662,"wires":[["3e8bf6da.16deba"]]},{"id":"7d380500.a1ebcc","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":660,"wires":[["d0ae6e9.5e29b9"]]},{"id":"da92b719.742bc8","type":"function","z":"9ab42443.055ec8","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":218,"wires":[["3e8bf6da.16deba"]]},{"id":"ed17d561.3fe6b8","type":"inject","z":"9ab42443.055ec8","name":"SetGreen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":218,"wires":[["da92b719.742bc8"]]},{"id":"91ae51b5.5763d","type":"function","z":"9ab42443.055ec8","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":261,"wires":[["3e8bf6da.16deba"]]},{"id":"1217f747.249d19","type":"function","z":"9ab42443.055ec8","name":"SetColorOnWhite","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 255,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":299,"wires":[["3e8bf6da.16deba"]]},{"id":"d4d4ada7.92d","type":"inject","z":"9ab42443.055ec8","name":"SetBlue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":262,"wires":[["91ae51b5.5763d"]]},{"id":"eaaea1ac.300f3","type":"inject","z":"9ab42443.055ec8","name":"SetOn","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":301,"wires":[["1217f747.249d19"]]},{"id":"6ba80eaf.4079","type":"inject","z":"9ab42443.055ec8","name":"SetOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":342,"wires":[["d6f957a6.532ad8"]]},{"id":"d6f957a6.532ad8","type":"function","z":"9ab42443.055ec8","name":"SetColorOff","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":338,"wires":[["3e8bf6da.16deba"]]}]
