node-red-flows/pbcandle1st.flow
[{"id":"66f9c9e8.43f338","type":"ibmiot in","z":"9ab42443.055ec8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":125,"y":94,"wires":[["fae9229f.6732f","8a435995.f70d88","c35d40bd.59d66","f45a6377.16888"]]},{"id":"fae9229f.6732f","type":"debug","z":"9ab42443.055ec8","name":"","active":true,"console":"false","complete":"false","x":102.5,"y":152.5,"wires":[]},{"id":"3e8bf6da.16deba","type":"ibmiot out","z":"9ab42443.055ec8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":686.27783203125,"y":509.388916015625,"wires":[]},{"id":"3628a629.c2811a","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124.27783203125,"y":603.138916015625,"wires":[["a26eb9d1.d6c5e8"]]},{"id":"a26eb9d1.d6c5e8","type":"function","z":"9ab42443.055ec8","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":339.27783203125,"y":607.6388854980469,"wires":[["3e8bf6da.16deba","2e7b3775.38c7a8"]]},{"id":"2e7b3775.38c7a8","type":"debug","z":"9ab42443.055ec8","name":"","active":true,"console":"false","complete":"false","x":328.77783203125,"y":686.888916015625,"wires":[]},{"id":"8a435995.f70d88","type":"function","z":"9ab42443.055ec8","name":"candleRR","func":"return {payload:msg.payload.candleRR};","outputs":1,"noerr":0,"x":362.5,"y":98.25,"wires":[[]]},{"id":"c35d40bd.59d66","type":"function","z":"9ab42443.055ec8","name":"candleGG","func":"return {payload:msg.payload.candleGG};","outputs":1,"noerr":0,"x":368.2222595214844,"y":140.4444580078125,"wires":[[]]},{"id":"f45a6377.16888","type":"function","z":"9ab42443.055ec8","name":"candleBB","func":"return {payload:msg.payload.candleBB};","outputs":1,"noerr":0,"x":368.2223205566406,"y":180.44442749023438,"wires":[[]]},{"id":"863b42cf.dab87","type":"function","z":"9ab42443.055ec8","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":\"1\",\n\"speed1\":0,\n\"speed2\":255,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setModeCandleLight\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":284.1111145019531,"wires":[["3e8bf6da.16deba"]]},{"id":"74ea307b.557fb","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.5,"y":378.25,"wires":[["fc484d37.a35bf"]]},{"id":"528c8d1b.dcdf74","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=FADEDGB=03","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":1,\n\"speed1\":48,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":331,"wires":[["3e8bf6da.16deba"]]},{"id":"46c2b91e.eb3598","type":"comment","z":"9ab42443.055ec8","name":"GetDataFromPi","info":"","x":109.5,"y":39.75,"wires":[]},{"id":"881e37ae.ce8a08","type":"comment","z":"9ab42443.055ec8","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":107,"y":227,"wires":[]},{"id":"e19a76a1.9c5028","type":"comment","z":"9ab42443.055ec8","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":129,"y":569,"wires":[]},{"id":"fc484d37.a35bf","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=Jump=02","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":2,\n\"speed1\":9,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":377,"wires":[["3e8bf6da.16deba"]]},{"id":"c2f17cb8.c8173","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":284,"wires":[["863b42cf.dab87"]]},{"id":"979fb421.b62788","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":332,"wires":[["528c8d1b.dcdf74"]]},{"id":"73bd3d44.b3e594","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":425,"wires":[["3e8bf6da.16deba"]]},{"id":"10536b9a.30fc14","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":423,"wires":[["73bd3d44.b3e594"]]},{"id":"d0ae6e9.5e29b9","type":"function","z":"9ab42443.055ec8","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff 02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"speed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":476,"wires":[["3e8bf6da.16deba"]]},{"id":"7d380500.a1ebcc","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":474,"wires":[["d0ae6e9.5e29b9"]]},{"id":"da92b719.742bc8","type":"function","z":"9ab42443.055ec8","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":647,"wires":[["3e8bf6da.16deba"]]},{"id":"ed17d561.3fe6b8","type":"inject","z":"9ab42443.055ec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":655,"wires":[["da92b719.742bc8"]]}]
