node-red-flows/pbcandle1st.flow
[{"id":"7beea022.71cce","type":"ibmiot in","z":"c6ec6614.e614e8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":139,"y":109,"wires":[["c2c021c5.8981c","fc818852.c2083","8ace3e35.f02ce","34c0aac3.42b6ee"]]},{"id":"c2c021c5.8981c","type":"debug","z":"c6ec6614.e614e8","name":"","active":true,"console":"false","complete":"false","x":116.5,"y":167.5,"wires":[]},{"id":"16194dbe.b93a82","type":"ibmiot out","z":"c6ec6614.e614e8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":700.27783203125,"y":524.388916015625,"wires":[]},{"id":"2164e13c.eb55ce","type":"inject","z":"c6ec6614.e614e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138.27783203125,"y":618.138916015625,"wires":[["eb1a5877.b5ae6"]]},{"id":"eb1a5877.b5ae6","type":"function","z":"c6ec6614.e614e8","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":353.27783203125,"y":622.6388854980469,"wires":[["16194dbe.b93a82","48b76795.be24f8"]]},{"id":"48b76795.be24f8","type":"debug","z":"c6ec6614.e614e8","name":"","active":true,"console":"false","complete":"false","x":342.77783203125,"y":701.888916015625,"wires":[]},{"id":"2616ba1.9114b46","type":"ui_button","z":"c6ec6614.e614e8","tab":"4cfafed9.860618","name":"SetColorRed","payload":"","topic":"","group":"","order":1,"x":348.27783203125,"y":582.9443969726562,"wires":[["eb1a5877.b5ae6"]]},{"id":"2cb8ef02.2b4438","type":"ui_gauge","z":"c6ec6614.e614e8","tab":"4cfafed9.860618","name":"Red","group":"Gauge","order":1,"format":"{{value}}","min":0,"max":"255","x":533.5,"y":113.5,"wires":[]},{"id":"fc818852.c2083","type":"function","z":"c6ec6614.e614e8","name":"candleRR","func":"return {payload:msg.payload.candleRR};","outputs":1,"noerr":0,"x":376.5,"y":113.25,"wires":[["2cb8ef02.2b4438"]]},{"id":"8ace3e35.f02ce","type":"function","z":"c6ec6614.e614e8","name":"candleGG","func":"return {payload:msg.payload.candleGG};","outputs":1,"noerr":0,"x":382.2222595214844,"y":155.4444580078125,"wires":[["4e9e6a3e.5f56b4"]]},{"id":"34c0aac3.42b6ee","type":"function","z":"c6ec6614.e614e8","name":"candleBB","func":"return {payload:msg.payload.candleBB};","outputs":1,"noerr":0,"x":382.2223205566406,"y":195.44442749023438,"wires":[["b99ec3f9.50cbb8"]]},{"id":"4e9e6a3e.5f56b4","type":"ui_gauge","z":"c6ec6614.e614e8","tab":"4cfafed9.860618","name":"Green","group":"Gauge","order":1,"format":"{{value}}","min":0,"max":"255","x":535.5556030273438,"y":154.33334350585938,"wires":[]},{"id":"b99ec3f9.50cbb8","type":"ui_gauge","z":"c6ec6614.e614e8","tab":"4cfafed9.860618","name":"Blue","group":"Gauge","order":1,"format":"{{value}}","min":0,"max":"255","x":533.3334350585938,"y":197.66665649414062,"wires":[]},{"id":"2f0f9f70.0630c8","type":"ui_button","z":"c6ec6614.e614e8","tab":"4cfafed9.860618","name":"setModeCandleLight","payload":"","topic":"","group":"","order":1,"x":348.1111145019531,"y":252.22222900390625,"wires":[["33080a10.0f0e36"]]},{"id":"33080a10.0f0e36","type":"function","z":"c6ec6614.e614e8","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":\"1\",\n\"speed1\":0,\n\"speed2\":255,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setModeCandleLight\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":299.1111145019531,"wires":[["16194dbe.b93a82"]]},{"id":"f7379271.f69f","type":"inject","z":"c6ec6614.e614e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.5,"y":393.25,"wires":[["7adbb3bb.6c9dec"]]},{"id":"b40d2d79.aae358","type":"function","z":"c6ec6614.e614e8","name":"setCandleMode=FADEDGB=03","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":1,\n\"speed1\":48,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":346,"wires":[["16194dbe.b93a82"]]},{"id":"1a23e8d0.e6decf","type":"comment","z":"c6ec6614.e614e8","name":"GetDataFromPi","info":"","x":123.5,"y":54.75,"wires":[]},{"id":"a9849edb.383778","type":"comment","z":"c6ec6614.e614e8","name":"UIDashBoard","info":"","x":446,"y":72,"wires":[]},{"id":"3611d457.7c5664","type":"comment","z":"c6ec6614.e614e8","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":121,"y":242,"wires":[]},{"id":"1e23a5dd.537282","type":"comment","z":"c6ec6614.e614e8","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":143,"y":584,"wires":[]},{"id":"7adbb3bb.6c9dec","type":"function","z":"c6ec6614.e614e8","name":"setCandleMode=Jump=02","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":2,\n\"speed1\":9,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":392,"wires":[["16194dbe.b93a82"]]},{"id":"8532825e.bc3b5","type":"inject","z":"c6ec6614.e614e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":299,"wires":[["33080a10.0f0e36"]]},{"id":"2e7883ea.9d2a0c","type":"inject","z":"c6ec6614.e614e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":347,"wires":[["b40d2d79.aae358"]]},{"id":"591193de.239a14","type":"function","z":"c6ec6614.e614e8","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":440,"wires":[["16194dbe.b93a82"]]},{"id":"335b84f0.b6dcdc","type":"inject","z":"c6ec6614.e614e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":438,"wires":[["591193de.239a14"]]},{"id":"e4fb2400.b2681","type":"function","z":"c6ec6614.e614e8","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff 02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"speed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":491,"wires":[["16194dbe.b93a82"]]},{"id":"28a62cf8.873ea4","type":"inject","z":"c6ec6614.e614e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":489,"wires":[["e4fb2400.b2681"]]},{"id":"21f735ba.51fc8a","type":"function","z":"c6ec6614.e614e8","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":662,"wires":[["16194dbe.b93a82"]]},{"id":"bcbb779b.331bd","type":"inject","z":"c6ec6614.e614e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":670,"wires":[["21f735ba.51fc8a"]]},{"id":"4cfafed9.860618","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
