node-red-flows/twittercandle.flow
[{"id":"56c36d54.63116c","type":"twitter in","z":"ee28b895.54d2d","twitter":"","tags":"Winter","user":"true","name":"CheckforIBM","topic":"tweets","inputs":0,"x":195.5,"y":227,"wires":[["8d1bf81f.1b0268","b4a9200.c5170e"]]},{"id":"b4a9200.c5170e","type":"watson-tone-analyzer-v3","z":"ee28b895.54d2d","name":"Analyzse","tones":"emotion","sentences":"true","contentType":"false","x":384.5,"y":174.75,"wires":[["60ce8987.8fe78","a03c2e71.50a11","17e568d0.39fa27"]]},{"id":"8d1bf81f.1b0268","type":"debug","z":"ee28b895.54d2d","name":"","active":false,"console":"false","complete":"false","x":375.5,"y":229.5,"wires":[]},{"id":"e21f1c7f.3dda7","type":"debug","z":"ee28b895.54d2d","name":"Tcat","active":false,"console":"true","complete":"true","x":790,"y":170,"wires":[]},{"id":"60ce8987.8fe78","type":"function","z":"ee28b895.54d2d","name":"tone_categories","func":"\nreturn msg.payload =msg.response.document_tone.tone_categories;","outputs":1,"noerr":0,"x":611.5,"y":169.75,"wires":[["e21f1c7f.3dda7"]]},{"id":"a03c2e71.50a11","type":"function","z":"ee28b895.54d2d","name":"HighScore","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\nvar myscore =  0;     \nvar mynewmsg ={};\n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n\n    if(emotions[i].score > myscore)\n    {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n //   node.send(msg);\n}\nmynewmsg = msg;\nreturn mynewmsg;","outputs":1,"noerr":0,"x":601,"y":211,"wires":[["57bff7b4.7d605","a7fca486.abbde"]]},{"id":"57bff7b4.7d605","type":"debug","z":"ee28b895.54d2d","name":"Score","active":true,"console":"true","complete":"payload","x":793,"y":213.5555419921875,"wires":[]},{"id":"50a9c593.cd8074","type":"inject","z":"ee28b895.54d2d","name":"Test","topic":"","payload":"Hello ","payloadType":"str","repeat":"","crontab":"","once":false,"x":194.5,"y":173.25,"wires":[["b4a9200.c5170e"]]},{"id":"740ccff1.24e408","type":"debug","z":"ee28b895.54d2d","name":"AnaReport","active":false,"console":"true","complete":"true","x":812,"y":131,"wires":[]},{"id":"17e568d0.39fa27","type":"function","z":"ee28b895.54d2d","name":"Ananlyser response","func":"\nreturn msg.payload =msg.response;","outputs":1,"noerr":0,"x":623,"y":131,"wires":[["740ccff1.24e408"]]},{"id":"9d0626ed.74f03","type":"function","z":"ee28b895.54d2d","name":"SetColorYello-Joy","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 255,\n\"bb\" : 0,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":824,"y":259,"wires":[["eda9aeb7.e43998","5bbe077c.fe6dd8"]]},{"id":"eda9aeb7.e43998","type":"ibmiot out","z":"ee28b895.54d2d","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1055,"y":308,"wires":[]},{"id":"a7fca486.abbde","type":"switch","z":"ee28b895.54d2d","name":"SelectColor","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":594.5,"y":282.75,"wires":[["9d0626ed.74f03"],["20a9ac74.bfed04"],["63654eb2.ab4528"],["f5541cc2.5dc25"],["8f41d10b.ca9c6"]]},{"id":"20a9ac74.bfed04","type":"function","z":"ee28b895.54d2d","name":"SetColorRed-Fear","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":826,"y":298,"wires":[["eda9aeb7.e43998"]]},{"id":"f5541cc2.5dc25","type":"function","z":"ee28b895.54d2d","name":"SetColorGreen-Anger","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":833,"y":373,"wires":[["eda9aeb7.e43998"]]},{"id":"63654eb2.ab4528","type":"function","z":"ee28b895.54d2d","name":"SetColorBlue-Sadness","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":831,"y":336,"wires":[["eda9aeb7.e43998"]]},{"id":"5bbe077c.fe6dd8","type":"debug","z":"ee28b895.54d2d","name":"","active":false,"console":"false","complete":"false","x":1058,"y":269,"wires":[]},{"id":"8f41d10b.ca9c6","type":"function","z":"ee28b895.54d2d","name":"SetColorOtherOff","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":823,"y":408,"wires":[["eda9aeb7.e43998"]]}]
