node-red-flows/twittercandle.flow
[{"id":"56c36d54.63116c","type":"twitter in","z":"ee28b895.54d2d","twitter":"","tags":"Trump","user":"true","name":"CheckforIBM","topic":"tweets","inputs":0,"x":209.5,"y":168,"wires":[["8d1bf81f.1b0268","b4a9200.c5170e"]]},{"id":"b4a9200.c5170e","type":"watson-tone-analyzer-v3","z":"ee28b895.54d2d","name":"Analyzse","tones":"emotion","sentences":"true","contentType":"false","x":415.5,"y":169.75,"wires":[["60ce8987.8fe78","a03c2e71.50a11","17e568d0.39fa27"]]},{"id":"8d1bf81f.1b0268","type":"debug","z":"ee28b895.54d2d","name":"","active":false,"console":"false","complete":"false","x":199.5,"y":243.5,"wires":[]},{"id":"e21f1c7f.3dda7","type":"debug","z":"ee28b895.54d2d","name":"Tone","active":false,"console":"true","complete":"true","x":790,"y":170,"wires":[]},{"id":"60ce8987.8fe78","type":"function","z":"ee28b895.54d2d","name":"tone_categories","func":"\nreturn msg.payload =msg.response.document_tone.tone_categories;","outputs":1,"noerr":0,"x":611.5,"y":169.75,"wires":[["e21f1c7f.3dda7"]]},{"id":"a03c2e71.50a11","type":"function","z":"ee28b895.54d2d","name":"HighScore","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\nvar myscore =  0;     \nvar mynewmsg ={};\n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n\n    if(emotions[i].score > myscore)\n    {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n //   node.send(msg);\n}\nmynewmsg = msg;\nreturn mynewmsg;","outputs":1,"noerr":0,"x":420,"y":274,"wires":[["57bff7b4.7d605"]]},{"id":"57bff7b4.7d605","type":"debug","z":"ee28b895.54d2d","name":"Tone","active":true,"console":"true","complete":"payload","x":587,"y":272.5555419921875,"wires":[]},{"id":"50a9c593.cd8074","type":"inject","z":"ee28b895.54d2d","name":"","topic":"","payload":"Hello ","payloadType":"str","repeat":"","crontab":"","once":false,"x":176.5,"y":97.25,"wires":[["b4a9200.c5170e"]]},{"id":"740ccff1.24e408","type":"debug","z":"ee28b895.54d2d","name":"Tone","active":false,"console":"true","complete":"true","x":792,"y":131,"wires":[]},{"id":"17e568d0.39fa27","type":"function","z":"ee28b895.54d2d","name":"Ananlyser response","func":"\nreturn msg.payload =msg.response;","outputs":1,"noerr":0,"x":623,"y":131,"wires":[["740ccff1.24e408"]]},{"id":"9d0626ed.74f03","type":"function","z":"ee28b895.54d2d","name":"SetColorYello-Joy","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 255,\n\"bb\" : 0,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":833,"y":348,"wires":[["eda9aeb7.e43998","5bbe077c.fe6dd8"]]},{"id":"eda9aeb7.e43998","type":"ibmiot out","z":"ee28b895.54d2d","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1057,"y":385,"wires":[]},{"id":"a7fca486.abbde","type":"switch","z":"ee28b895.54d2d","name":"SelectColor","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":569.5,"y":381.75,"wires":[["9d0626ed.74f03"],["20a9ac74.bfed04"],[],["63654eb2.ab4528"],["f5541cc2.5dc25"],[]]},{"id":"20a9ac74.bfed04","type":"function","z":"ee28b895.54d2d","name":"SetColorRed-Fear","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":387,"wires":[["eda9aeb7.e43998"]]},{"id":"f5541cc2.5dc25","type":"function","z":"ee28b895.54d2d","name":"SetColorGreen-Anger","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":835,"y":477,"wires":[["eda9aeb7.e43998"]]},{"id":"63654eb2.ab4528","type":"function","z":"ee28b895.54d2d","name":"SetColorBlue-Sadness","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255,\n\"tone\" : msg.topic,   \n\"score\" : msg.payload\n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":835,"y":429,"wires":[["eda9aeb7.e43998"]]},{"id":"5bbe077c.fe6dd8","type":"debug","z":"ee28b895.54d2d","name":"","active":true,"console":"false","complete":"false","x":1061,"y":346,"wires":[]}]
