node-red-flows/weathercandle.flow
[{"id":"a696620.e6115a","type":"inject","z":"906a9146.e6469","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137.5,"y":153.25,"wires":[["e464cede.8ca458"]]},{"id":"c8c97b12.3f5248","type":"debug","z":"906a9146.e6469","name":"","active":true,"console":"false","complete":"true","x":596.5,"y":152.5,"wires":[]},{"id":"e464cede.8ca458","type":"weather_insights","z":"906a9146.e6469","name":"GetWeatherToronto","service":"/observations.json","geocode":"43.7182412,-79.378058","units":"m","language":"","x":336.5,"y":156,"wires":[["c8c97b12.3f5248","f208d0cc.f70bd8","51631a5c.4cb274"]]},{"id":"f208d0cc.f70bd8","type":"function","z":"906a9146.e6469","name":"narrative","func":"\nmvk = msg.forecasts[0].narrative;\nmsg.payload = mvk;\nreturn msg;","outputs":1,"noerr":0,"x":604.5,"y":203.75,"wires":[["7b24ae28.91ebe8"]]},{"id":"7b24ae28.91ebe8","type":"debug","z":"906a9146.e6469","name":"","active":false,"console":"false","complete":"payload","x":766,"y":196,"wires":[]},{"id":"46f3961b.c89ee8","type":"switch","z":"906a9146.e6469","name":"TempCheck","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-10","vt":"num"},{"t":"gt","v":"20","vt":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":575.5,"y":350.75,"wires":[["869af347.693128"],["be2d0b4c.57d5f8"],[]]},{"id":"51631a5c.4cb274","type":"function","z":"906a9146.e6469","name":"feels_like","func":"\nmvk = msg.observation.feels_like;\nmsg.payload = mvk;\nreturn msg;","outputs":1,"noerr":0,"x":576,"y":279,"wires":[["fcb9a2d1.cff8a8","46f3961b.c89ee8"]]},{"id":"fcb9a2d1.cff8a8","type":"debug","z":"906a9146.e6469","name":"","active":true,"console":"false","complete":"payload","x":753,"y":276,"wires":[]},{"id":"869af347.693128","type":"function","z":"906a9146.e6469","name":"SetCandleFlashingBlueCold","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":828,"y":356,"wires":[["3218f128.7b52e6"]]},{"id":"3218f128.7b52e6","type":"ibmiot out","z":"906a9146.e6469","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"candlepi","deviceType":"raspi","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1044,"y":384.7500305175781,"wires":[]},{"id":"be2d0b4c.57d5f8","type":"function","z":"906a9146.e6469","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":390,"wires":[["3218f128.7b52e6"]]},{"id":"75df25cc.2f2fdc","type":"function","z":"906a9146.e6469","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":778,"y":324,"wires":[["3218f128.7b52e6"]]},{"id":"1cbaf526.e32f53","type":"weather_insights","z":"906a9146.e6469","name":"GetWeatherSydneyAus","service":"/observations.json","geocode":"-33.84829,150.9319631","units":"m","language":"","x":357,"y":221,"wires":[["51631a5c.4cb274","c8c97b12.3f5248"]]},{"id":"7f595463.f5f3bc","type":"inject","z":"906a9146.e6469","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":220,"wires":[["1cbaf526.e32f53"]]},{"id":"cee685fa.e5c8e8","type":"weather_insights","z":"906a9146.e6469","name":"GetWeatherVancouver","service":"/observations.json","geocode":"49.2577355,-123.123904","units":"m","language":"","x":344,"y":286,"wires":[["51631a5c.4cb274"]]},{"id":"7e4ea8b3.292c4","type":"inject","z":"906a9146.e6469","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":285,"wires":[["cee685fa.e5c8e8"]]}]
